<article>
  <h1 class="post-title">
    <a href="<%- url_for(post.path) %>"><%- post.title %></a>
  </h1>

  <section class="post-date">
    <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished">录于<%= date(post.date, config.date_format) %></time>
  </section>

  <section class="post-entry">
    <%- post.content %>
  </section>

<div id="article-tags">
<% if (post.tags && post.tags.length){ %>
  <%- list_tags(post.tags, {
    show_count: false,
    class: 'article-tag'
  }) %>
<% } %>
</div>
<div style="width:64%;border-bottom: 1px dashed #ddd;margin:0 auto;"></div>
</article>
<%- partial('post/nav') %>

