<header class="header">
<div id="nav">
  <img class="avatar" src="<%- url_for(theme.avatar) %>" alt="avatar" />

  <div class="site-title">
    <h1> <%- config.title %> </h1>
    <h3> <%- config.subtitle %> </h1>
  </div>

  <nav class="menu">
    <% for (var i in theme.menu){ %>
      <% if (url_for(theme.menu[i]) == '/' + path.replace('/index.html', '') || (url_for(theme.menu[i]) == '/.' && is_home())) { %>
        <a class="menu-active" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
      <% } else { %>
        <a href="<%- url_for(theme.menu[i]) %>">
        <i class="fa fa-circle-thin"></i>
        <%= i %></a>
      <% } %>
    <% } %>
  </nav>
</div>

<section class="site-author">
  <p class="site-author-name" itemprop="name"> <%- theme.author %></p>
  <p class="description" itemprop="description"> <%- config.description %> </p>
</section>

<% if (is_home()) { %>
<ul class="social-list">
  <% for (var i in theme.social){ %>
    <% if (theme.social[i]){ %>
      <li>
        <a href="<%- theme.social[i] %>" class="<%= i %>" target="_blank">
          <i class="fa fa-<%= i %>"></i>
        </a>
      </li>
    <% } %>
  <% } %>
</ul>
<% } %>

</header>
