<main class="index">
  <% page.posts.each(function(post){ %>
    <article class="index-article">
      <h1 class="article-title" itemprop="name">
        <a href="<%- url_for(post.path) %>" itemprop="url" ><%- post.title %></a>
      </h1>

      <div class="article-entry">
       <div class="article-content">
          <% if (post.excerpt){ %>
            <%- post.excerpt %>
          <% } else { %>
             <% if (theme.auto_excerpt.enable){ %>
              <%- truncate(strip_html(post.content), {length:  theme.auto_excerpt.length, omission: '...'}) %>
              <% if ( post.content.length > theme.auto_excerpt.length){ %>
                <div class="post-more-link">
                  <a class="btn-post-more" href="<%- url_for(post.path) %>" rel="contents">
                  阅读全文
                  </a>
                </div>
            <% } %>
            <% } %>
          <% } %>
        </div>
      <div class="article-data">
         <div class="article-data-line"></div>
         <div class="article-data-time"><time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, config.date_format) %></time></div>
      </div>

    </article>
  <% }) %>
</main>
